.VideoControl {
  appearance: none;
  outline: none;
  width: 56px;
  height: 56px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0;
  background: none;
  color: white;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.VideoControl:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.VideoControl:active {
  background-color: rgba(255, 255, 255, 0.48);
}

.VideoControl-activated,
.VideoControl-activated:hover {
  background-color: white;
  color: black;
}
