# Tensorflow needs remote repo
common --experimental_repo_remote_exec

# Unused function in Tensorflow Lite kernels
common --copt="-Wno-error=unused-function"

# TODO Find a way to build everything without threads
# Workaround for shared memory error on TFLite activation.o
# common --copt="-pthread"

# Mediapipe custom operators are not public
common --check_visibility=false

build:wasm --crosstool_top=//emscripten_toolchain:everything
build:wasm --cpu=wasm
build:wasm --host_crosstool_top=@bazel_tools//tools/cpp:toolchain